# Dependências e Builds
node_modules/
.next/
dist/
build/
out/
__pycache__/
*.pyc

# Segredos e Variáveis de Ambiente
.env
.env.local
.env*.local
*.pem
*.pfx

# Logs e Cache
*.log
.pytest_cache/
.vercel
